@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #033b5b;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: transparent;
  width: 100%;
  -ms-flex-preferred-size: 7vh;
      flex-basis: 7vh;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  -ms-flex-preferred-size: 7vh;
      flex-basis: 7vh;
  width: 100%;
}

.navigation .menu {
  -ms-flex-preferred-size: 78%;
      flex-basis: 78%;
  font-family: "Open Sans", sans-serif;
  height: 7vh;
  padding: 15px 0 15px 80px;
}

.navigation .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navigation .menu__item {
  margin: 0 17px;
  font-size: 2.1rem;
  line-height: 4rem;
}

@media (max-width: 1920px) {
  .navigation .menu__item {
    line-height: 4rem;
  }
}

@media (max-width: 1366px) {
  .navigation .menu__item {
    margin: 5px 10px;
    font-size: 1.4rem;
    line-height: 3rem;
  }
}

.navigation .menu__link {
  display: block;
  color: white;
  text-decoration: none;
}

.navigation .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  margin-right: 10px;
}

.navigation .search__input {
  display: none;
  width: 0%;
  height: 0%;
  max-height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.4rem;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  margin-top: 10px;
}

.navigation .search__input:focus {
  -webkit-box-shadow: 0 0 2px 1px blue;
          box-shadow: 0 0 2px 1px blue;
  font-weight: bold;
}

.navigation .search__input--active {
  display: block;
  width: 100%;
  height: 50%;
}

.navigation .search .search__icon {
  position: absolute;
  right: 0;
  max-height: 50px;
  cursor: pointer;
  color: white;
  font-size: 2.1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 1920px) {
  .navigation .search .search__icon {
    margin-top: 10px;
  }
}

@media (max-width: 1366px) {
  .navigation .search .search__icon {
    font-size: 1.7rem;
  }
}

.navigation .search .search__icon--active {
  color: black;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.main .article .main__about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 27vh;
      flex-basis: 27vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px dotted #023a5c;
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 1920px) {
  .main .article .main__about {
    -ms-flex-preferred-size: 27vh;
        flex-basis: 27vh;
  }
}

@media (max-width: 1366px) {
  .main .article .main__about {
    -ms-flex-preferred-size: 25vh;
        flex-basis: 25vh;
  }
}

.main .article .main__about__title {
  margin-top: 75px;
  margin-left: 20px;
  color: #373749;
  font-size: 2.9rem;
}

@media (max-width: 1366px) {
  .main .article .main__about__title {
    font-size: 2.4rem;
  }
}

.main .article .main__about__img {
  margin-top: 75px;
}

.main .article .main__about .logo {
  position: absolute;
  top: -60px;
  left: 0;
  width: 255px;
  height: 184px;
  -webkit-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

@media (max-width: 1920px) {
  .main .article .main__about .logo {
    top: -65px;
  }
}

@media (max-width: 1366px) {
  .main .article .main__about .logo {
    top: -63px;
    left: 0;
    width: 200px;
    height: 144px;
  }
}

.main .article .main__about .logo__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .article .main__article-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 36px;
          column-gap: 36px;
  -webkit-column-fill: balance;
          column-fill: balance;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 1.7rem;
}

@media (max-width: 1366px) {
  .main .article .main__article-main {
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

.main .article .main__article-main .article__image {
  margin-bottom: 10px;
  width: 100%;
}

.main .article .main__article-main .article__image .image-article {
  width: 100%;
}

.main .article .main__article-main .article-main__title {
  font-size: 1.7rem;
  -webkit-column-span: all;
          column-span: all;
  color: #373749;
  margin: 5px 0 20px 0;
}

@media (max-width: 1366px) {
  .main .article .main__article-main .article-main__title {
    font-size: 1.4rem;
  }
}

.main .article .main__article-main .article-text {
  margin-bottom: 0;
}

.main .article .main__article-main p {
  text-align: justify;
  color: #373749;
  margin-bottom: 10px;
}

@media (max-width: 1366px) {
  .main .article .main__article-main p {
    font-size: 1.4rem;
  }
}

.main__side-menu {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  background-color: gray;
  -webkit-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 1366px) {
  .main__side-menu {
    width: 13%;
  }
}

.main__side-menu__title {
  color: #033b5b;
  text-align: justify;
  line-height: 30px;
}

@media (max-width: 1366px) {
  .main__side-menu__title {
    line-height: 20px;
  }
}

.main__side-menu__arrow {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 30%;
  right: 1%;
  -webkit-transform: translate(-50%, -1%);
          transform: translate(-50%, -1%);
  cursor: pointer;
}

.main__side-menu__arrow--active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__side-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
  margin-top: 50px;
}

.main__side-menu__line {
  border-bottom: 2px dotted #023a5c;
  width: 50%;
  margin: 20px 0 20px 0;
}

@media (max-width: 1366px) {
  .main__side-menu__line {
    margin: 12px 0 12px 0;
  }
}

.main__side-menu__item {
  display: block;
  font-size: 2.1rem;
  line-height: 3.5rem;
  width: 50%;
}

@media (max-width: 1366px) {
  .main__side-menu__item {
    font-size: 1.4rem;
    line-height: 3rem;
  }
}

.main__side-menu__item-social {
  margin-top: 10px;
  font-size: 2.1rem;
  line-height: 3.5rem;
  width: 50%;
}

@media (max-width: 1366px) {
  .main__side-menu__item-social {
    font-size: 1.6rem;
  }
}

.main__side-menu__link {
  display: block;
  color: #033b5b;
  text-decoration: none;
}

.main__side-menu--active {
  top: 0;
  left: -8.7%;
  bottom: 0;
  width: 10%;
}
/*# sourceMappingURL=style.css.map */