@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #033b5b;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  font-size: 1.8rem;
  background-color: #fff;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #033b5b;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  height: 90px;
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
  color: white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  list-style: none;
  line-height: 3rem;
}

.menu__item {
  margin: 30px 20px;
  font-size: 2rem;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__item:hover {
  border-bottom: 2px white solid;
}

.menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 200px;
}

.search__input {
  border: 0;
  padding: 5px 10px;
  width: 200px;
  height: 30px;
  border-radius: 3px;
}

.search__icon {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  border-radius: 3px;
  color: #fff;
}

.search__icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #fff;
}

.main__side-menu {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: darkorange;
}

.main__about {
  justify-items: flex-start;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: yellow;
}

.main__article-main {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-items: flex-end;
}
/*# sourceMappingURL=style.css.map */