html {
    font-size: 10px;
    background-color: $bg-main-color;
    font-family: $special-font;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}



.footer {
    background-color: transparent;
    width: 100%;
    flex-basis: 7vh;
}